<div class="container">
    <div class="menu1">
      <div class="menu-left">
        <img src="images/3.jpg" alt="" class="img-responsive" />
      </div>
      <div class="menu-right">
        <h3>repudiandae sint et molestiae</h3>
        <p>CUM SOCIIS NATOQUE PENATIBUS</p>
        <ul class="list ins1">
          <li>Quisque diam risus <span>$10.00</span></li>
          <li>Praesent vestibulum molestie <span>$15.09</span></li>
          <li>Aenean nonummy hendrerit <span>$12.69</span></li>
          <li>porta Fusce suscipit varius miur<span>$18.50</span></li>
          <li>Etiam cursus leo vel metus <span>$11.00</span></li>
          <li>Aenean nec eros <span>$10.00</span></li>
          <li>Aenean nec eros <span>$10.00</span></li>
          <li>Aenean nec eros <span>$10.00</span></li>
          <li>Aenean nec eros <span>$10.00</span></li>
          <li>Aenean nec eros <span>$10.00</span></li>
          <li>Aenean nec eros <span>$10.00</span></li>
          <li>Aenean nec eros <span>$10.00</span></li>
          <li>Aenean nec eros <span>$10.00</span></li>
                    

        </ul>
      </div>
    </div>
</div>  